.data-table-container {
  height: 400px;
  overflow: auto;
}

/* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
.right-align-empty-space {
  flex: 1 1 auto;
}

.label-form {
  min-width: 40px;
  max-width: 500px;
  width: 100%;
}

.label-date {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
