<div class="app-container">
  <div class="app-title-container">
    <h1>Financial Planner</h1>
  </div>
  <div class="data-tables-container">
    <div class="data-table-container">
      <app-data-table [data]="incomeTableData" title="Income"></app-data-table>
    </div>
    <br /><br />
    <div class="data-table-container">
      <app-data-table
        [data]="expensesTableData"
        title="Expenses"
      ></app-data-table>
    </div>
  </div>
  <br /><br />
  <div class="line-chart-container">
    <app-line-graph></app-line-graph>
  </div>
  <button (click)="debug()">Debug</button>
</div>
