<div class="app-container">
  <div class="app-title-container">
    <h1>Financial Planner</h1>
  </div>
  <div class="data-tables-container">
    <div class="data-table-container">
      <app-data-table [data]="incomeTableData" title="Income"></app-data-table>
    </div>
    <br /><br />
    <div class="data-table-container">
      <app-data-table
        [data]="expensesTableData"
        title="Expenses"
      ></app-data-table>
    </div>
  </div>
  <div class="csv-uploader-container">
    <app-csvuploader
      [income]="incomeTableData"
      [expenses]="expensesTableData"
    ></app-csvuploader>
  </div>
  <br /><br />
  <div class="line-chart-container">
    <div class="line-chart-title-container">
      <h2>Graphical Projection</h2>
    </div>
    <app-line-graph
      [incomeData]="incomeTableData"
      [expensesData]="expensesTableData"
    ></app-line-graph>
  </div>
</div>
